################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/

# .NET build artifacts
**/bin/
**/obj/

# Optional user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
